{{ define "head" }}
<link rel="stylesheet" href="{{.Site.BaseURL}}css/index.css">
{{ end }}

{{ define "main" }}
    <div class="index container">
        <h1> {{ .Site.Title }} </h1>
        <section>


            <h2> Contact </h2>
            {{ with (.Site.GetPage "page" "pages/contact.md") }}
            <div> {{ .Content }} </div>
            {{ end }}



            {{ with (.Site.GetPage "page" "pages/about/index.md") }}
            {{ $img := .Resources.GetMatch "photo.jpg" }}
            <div class="about">
                <h2> About </h2>
                <img src="{{$img.RelPermalink}}"></img>
            </div>
            <div> {{ .Content }} </div>
            {{ end }}



            {{ range .Site.Sections }}
                {{ $numPages := len .Data.Pages }}
                {{ $numSecs  := len .Sections }}
                {{ $count    := add $numPages $numSecs }}
                {{ if (.Param "exclude") }}
                    {{/* Skip */}}
                {{ else }}
                    <div>
                        <h2> 
                            <span class="count"> {{ $count }} </span>
                            {{ .Title }} 
                        </h2>
                        <div class="section-content">
                            {{ .Content }}
                        </div>
                    </div>
                    <div>
                        {{ .Render "section_index" }}
                    </div>
                {{ end }}
            {{ end }}
        </section>
    </div>
{{ end }}
